body {
    padding-bottom: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}


html, body {
    height: 100%;
}
.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}