@{
	ViewBag.Title = "Home Page";
}

<div class="row mt-5">
	<div class="col-12 text-center">
		<h1 class="display-6">Proceso a seguir</h1>
	</div>
</div>
<div class="row">
	<div class="col-6 offset-3">
		<img src="~/Content/Images/proceso-quejas.png" />
	</div>
</div>

<style>
	body {
		background-color: #fff !important;
	}
</style>